<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      .btn {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <!-- Button trigger modal -->
    <button
      id="btn"
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">안내</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              onclick="test()"
            ></button>
          </div>
          <div class="modal-body">
            인터넷익스플로러(IE) 서비스 지원이 2022년 6월 15일 종료됨에 따라
            안전하고 원활한 LH청약센터 이용을 위해 크롬, 사파리, 엣지 등의
            웹브라우저를 이용해주시기 바랍니다.
          </div>
          <div class="modal-footer">
            <input type="checkbox" id="check" />오늘 그만보기
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        if (document.cookie == '') {
          console.log(document.cookie.name)
          document.getElementById('btn').click()
        }
      })

      function test() {
        let checked = document.querySelector('#check').checked
        if (checked) {
          document.cookie = 'myValue'
          //   console.log(document.cookie)
        }
      }
    </script>
  </body>
</html>
