<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>로그인 성공한 유저</h1>
    <form name="profile-form">
      <fieldset>
        <legend>프로필</legend>
        아이디 <input type="text" id="id" name="id" value="<%=data.id%>" />
        <br />
        <input type="text" id="modify" name="modify" placeholder="수정할 ID" />
        <button type="button" onclick="profileEdit()">수정</button>
        <button type="button" onclick="profileDelete()">삭제</button>
      </fieldset>
    </form>
    <script>
      const profileEdit = () => {
        const form = document.forms['profile-form']
        const modify = document.querySelector('#modify').value
        axios({
          method: 'PATCH',
          url: '/user/profile/patch',
          data: {
            befId: form.id.value,
            id: modify,
          },
        }).then((res) => {
          console.log(res)
          alert('회원정보 수정 성공!')
          form.id.value = modify
        })
      }
      const profileDelete = () => {
        const form = document.forms['profile-form']
        axios({
          method: 'DELETE',
          url: '/user/profile/delete',
          data: {
            id: form.id.value,
          },
        }).then((res) => {
          alert('회원탈퇴 완료!')
          window.location.href = '/user/signin'
        })
      }
      //   console.log(data)
    </script>
  </body>
</html>
