<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>투표 하기</h1>
    <div>
      <button id="typeOne">A타입</button>
      <button id="typeTwo">B타입</button>
    </div>
    <div>
      <h3>투표 결과</h3>
      <p>A타입: <span id="resultOne">0</span></p>
      <p>B타입: <span id="resultTwo">0</span></p>
    </div>

    <script>
      const socket = new WebSocket('ws://localhost:8000')

      //서버에 연결 요청
      socket.addEventListener('open', (event) => {
        //send() 함수는 백엔드로 메세지를 전송
        console.log('서버에 연결되었습니다')
        console.log(event)
        socket.send(JSON.stringify({ type: 3, num: null }))
        // document.querySelector('#resultOne').innerText =
        // document.querySelector('#resultTwo').innerText =
      })
      //메세지 주고 받음
      socket.addEventListener('message', (event) => {
        let data = JSON.parse(event.data)
        console.log(data.num)
        if (data.type) {
          if (data.type == 1) {
            document.querySelector('#resultOne').innerText = data.num + 1
          } else {
            document.querySelector('#resultTwo').innerText = data.num + 1
          }
        } else {
          document.querySelector('#resultOne').innerText = data.A
          document.querySelector('#resultTwo').innerText = data.B
        }
      })
      //오류이벤트
      socket.addEventListener('error', (event) => {
        console.log('오류가 발생하였습니다', event.error)
      })

      //종료이벤트
      socket.addEventListener('close', () => {
        console.log('서버와 연결이 종료됨')
      })

      document.querySelector('#typeOne').addEventListener('click', () => {
        let numA = +document.querySelector('#resultOne').innerText
        socket.send(JSON.stringify({ type: 1, num: numA }))
      })

      document.querySelector('#typeTwo').addEventListener('click', () => {
        let numB = +document.querySelector('#resultTwo').innerText
        socket.send(JSON.stringify({ type: 2, num: numB }))
      })

      //   const click = (e) => {
      //     if (e == 1) {
      //       let numA = +document.querySelector('#resultOne').innerText
      //       socket.send(JSON.stringify({ type: 1, num: numA }))
      //     } else {
      //       let numB = +document.querySelector('#resultTwo').innerText
      //       socket.send(JSON.stringify({ type: 2, num: numB }))
      //     }
      //   }
    </script>
  </body>
</html>
