<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style></style>
  </head>
  <body>
    <div class="case1">
      아이디 <input type="text" name="id" id="id" /> <br />
      비밀번호 <input type="password" name="pw" id="pw" /> <br />
      <button type="button">회원가입</button>
      <button type="button" onclick="login()">로그인</button>
    </div>
    <script>
      function login() {
        axios({
          method: 'post',
          url: '/login',
          data: {
            id: document.querySelector('#id').value,
            pw: document.querySelector('#pw').value,
          },
        }).then((res) => {
          console.log(res)
          if (res.data.result === false) {
            alert('가입된 계정이 아닙니다')
          } else {
            window.location.reload()
          }
        })
      }
    </script>
  </body>
</html>
