<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1><%= data %>님 환영합니다</h1>
    <br />
    <button type="button" onclick="logout()">로그아웃</button>
    <script>
      function logout() {
        let confirm = window.confirm('정말 로그아웃 하시겠습니까?')
        if (confirm) {
          axios({
            method: 'post',
            url: '/logout',
            data: {},
          }).then((res) => {
            if (res.data.result == true) {
              window.location.reload()
            }
          })
        }
      }
    </script>
  </body>
</html>
